body {
    padding-top: 5%;
}

.table {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #cacece;
}

.btn-dropdown:hover {
    background-color: #cacece;
}

.dropdown-menu, .btn-dropdown {
    background-color: buttonface;
}

tbody {
    background-color: rgba(226, 192, 66, 0.84);
}